<form method="post" action="@Url.Action("LogIn")">
    <div>
        <label for="userName">Kullanıcı Adı:</label>
        <input type="text"  name="userName" required>
    </div>
    <div>
        <label for="passWord">Şifre:</label>
        <input type="passWord"  name="passWord" required>
    </div>
    <div>
        <input type="submit" value="Giriş Yap">
    </div>
</form>

